:root {
  /* VARIABLES */
  --header-clr: #c1d4f0;
  --bg-clr: #d5e3f0;
  --sidebar-bg-clr: #e6f0fa;
  --sidebar-light-clr: #dcebfa;
  --sidebar-clr: #b4cbf0;
  --sidebar-dark-clr: #7b8dac;
  --off-white: rgb(230, 239, 245);
  --shadow-clr: #b0c0d8;
  --rounded-corners: 20px;
  --theme: white;
  --dark-grey: rgb(75, 75, 75);
}

/* MAYBE ADD TO RESET?????????????????? */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}
/* ADD TO RESET?????????? */

/* ADD TO CSS RESET???? */
svg {
  fill: currentColor;
  height: 1em;
  width: auto;
}

header {
  z-index: 0;
  height: 6.5rem;
  display: flex;
  align-items: center;
  padding: 3.5rem 2.5rem;
  background-color: var(--header-clr);
  box-shadow: 4px 4px 4px var(--shadow-clr);
}

header h1 {
  color: var(--off-white);
  font-size: 3.5rem;
  text-shadow: 3px 3px 2px var(--shadow-clr);
}

main {
  flex: 1;
  display: flex;
  background-color: var(--bg-clr);
}

.board {
  flex: 1;
  display: flex;
  margin: 20px;
  background-color: var(--theme);
  border-radius: var(--rounded-corners);
  box-shadow: 4px 4px 4px var(--shadow-clr);
}

/* SIDEBAR */
.sidebar {
  width: 304px;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  background-color: var(--sidebar-bg-clr);
  border-radius: var(--rounded-corners) 0 0 var(--rounded-corners);
  box-shadow: 4px 0 4px var(--shadow-clr);
}

.sidebar h2 {
  text-align: center;
  color: var(--sidebar-clr); 
  font-size: 2rem;
  text-shadow: 1px 1px 1px var(--shadow-clr);

  /* Divider Line */
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--sidebar-clr);
}

/* PROJECT LIST */
.project-list {
  color: var(--sidebar-clr);

  /* Divider Line */
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--sidebar-clr);
}

.project-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.project-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.125rem;
}

/* PROJECT */
.project {
  flex: 1;
  padding: 1.5rem 3rem;
  color: var(--dark-grey);
}

.project-header {
  /* Divider Line */
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--sidebar-clr);
}

.project-header h2 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px var(--shadow-clr);
}

.task-list {
  /* Divider Line */
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--sidebar-clr);
}

/* UI */
.project-list li:hover {
  background-color: var(--sidebar-light-clr);
}

/* BUTTON */
button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  padding: 0.25rem;  
  font-size: 1rem;
  border: none;
  text-shadow: 1px 1px 1px var(--shadow-clr);
}

.sidebar button {
  color: var(--sidebar-clr);
  background-color: var(--sidebar-bg-clr);
}

.sidebar button:hover * {
  color: var(--sidebar-dark-clr);
  fill: currentColor;
}

.sidebar li button {
  /* Align button on edges */
  padding: 0;
  /* Make button background invisible for UI hover */
  background-color: rgb(0, 0, 0, 0);
}

.project button {
  color: var(--dark-grey);
  fill: currentColor;
  background-color: var(--theme);
}

.project button:hover * {
  color: black;
  fill: currentColor;
}